*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}


header, footer{
    color: white;
    background-color: darkblue;
}


header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

main{
    grid-area: main;
    background-color: lightblue;
    display: flex;
}

section{

}

.camera{
    grid-area: camera;
}

.videocamera{
    grid-area: videocamera;
}

.microphone{
    grid-area: microphone;
}

.Accessories{
    grid-area: accessories;
}

@media screen and (min-width: 1500) {
    main{
        justify-content: space-evenly;
        place-items: center;
    }

    section{
        display: flex;
        flex-direction: column;
    }

}